:root {
  --button-link-hover-color: #535bf2;
  --button-link-color: #646cff;
}
.postDetailCont {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
  color: #333;
  width: 100%;
}

.postDetailCont h2 strong{
  display:block;
  font-size:24px;
  font-weight:700;
  margin-bottom:20px;
}
.postDetailCont h2 p{
  font-size:20px;
  margin-bottom:20px;
}

.btn_box .btn {
  text-decoration: none;
  margin-right: 10px;
  background-color: var(--button-link-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s
}
.btn_box .btn:hover{
  background-color: var(--button-link-hover-color);
}

.modal_cont {
  position: absolute;
  left:   calc(50% - 150px);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
  color: #333;
  max-width: 300px;
  background-color:#fff;
  border-radius:10px;
}
.modal_cont .modal_btn_box {
  display:flex;
  align-items:center;
  justify-content: center;
}
.modal_cont .modal_btn_box button + button {
  margin-left:10px;
}


/* 추후 협의 후 main.css로 옮겨도 되는지! 확인필요 */
body{
  position:relative;
}