section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  overflow: scroll;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

ul>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

ul>li>a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  cursor: pointer;
  transition: color 0.3s;
}

ul>li>a:hover {
  color: var(--button-link-horver-color);
}

ul>li>button {
  background-color: var(--button-link-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul>li>button:hover {
  background-color: var(--button-link-horver-color);
}

.deleteModal>h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.deleteModal>.btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.deleteModal>.btns>button {
  background-color: var(--button-link-color);
  color: white;
  text-align: right;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteModal>.btns>button:hover {
  background-color: var(--button-link-hover-color);
}